<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Random roulette
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Random roulette</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="active" [(ngModel)]="filter">
    <ion-segment-button value="active" (click)="getEvents('active')">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ended" (click)="getEvents('ended')">
      <ion-label>Ended</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all" (click)="getEvents('all')">
      <ion-label>All</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div id="no-events" *ngIf="events.length === 0">
    <h2>No available events</h2>
    <p>Add your first event clicking the "+" button</p>
  </div>

  <ion-card 
  *ngFor="let event of events"
  [routerLink]="['/event', event.id]"
  [ngClass]="{'finished-event': event.ended}" >
    <ion-card-header>
      <ion-card-title>{{event.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>{{event.participants.length}} participants.</p>
      <p>{{getDaysUntilEvent(event.date)}}.</p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/new-event']" routerLinkActive="router-link-active" >
      <ion-icon name="add-outline" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
